@import "lesshat.less";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#bg {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    background: transparent;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .background-size(900px);
    background-position: 50% 50%;
}

.content {
    height: 85%;
    text-align: center;

    @media only screen and (max-width : 480px) {
        height: 75%;
    }
}

.content:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em;
}

.centered {
  display: inline-block;
  vertical-align: middle;
  width: 90%;
}

#haiku {
    text-align: center;
    margin-top: 20px;

    img {
        margin: 0 5px;
        &:first-child {
            margin-left: 0;
        }

        @media only screen and (max-width : 480px) {
            margin: 0;
            height: 48px;
        }
    }
}

.actions {
    position: absolute;
    z-index: 2;
    bottom: 10%;
    left: 50%;
    width: 90%;
    margin-left: -45%;
    text-align: center;

    @media only screen and (max-width : 480px) {
        bottom: 45px;
    }

    a, button {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 18px;
        line-height: 1.42857143;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background: #000;
        color: #fff;
        font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
        margin: 0 2.5px;
        text-decoration: none;
        margin-bottom: 5px;

        @media only screen and (max-width : 768px) {
            font-size: 14px;
        }
    }
}

header {
    text-align: center;
}

#title {
    font-family: 'Quicksand', 'sans-serif';
    font-size: 3.5em;
    line-height: 1.2em;

    @media only screen and (max-width : 768px) {
        font-size: 2.5em;
    }

    @media only screen and (max-width : 480px) {
        font-size: 1.5em;
    }
}

footer {
    width: 90%;
    margin-left: -45%;
    left: 50%;
    z-index: 2;
    position: absolute;
    bottom: 5%;
    text-align: center;
    color: #ccc;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';

    @media only screen and (max-width : 480px) {
        bottom: 10px;
    }

    a {
        color: #ccc;
    }
}